<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hsimapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>961BB31E1F4185FD2AF4460D6D4A242DB182139B</string>
				<key>dateExpires</key>
				<string>2018/9/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PM354JS385.com.szhuanshuo.hsimapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>PM354JS385</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>hsimapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c6c23697-6b8e-49f5-9941-7fe530797011</string>
				<key>name</key>
				<string>XC iOS: com.szhuanshuo.hsimapp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PM354JS385</string>
				<key>name</key>
				<string>ShenZhen BuTa Network Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
